body > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    pointer-events: none;
  }
  
  body > header > #header-bar > .wrapper {
    position: relative;
  }
  
  #header-bar .content {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    position: relative;
    align-items: center;
  }
  @media (max-width: 1184px) {
    #header-bar .content {
      padding: 0.5rem 1rem;
    }
  }
  @media (max-width: 1184px) {
    #header-bar {
      background: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(10px);
    }
  }
  
  #logo {
    pointer-events: initial;
  }
  @media (max-width: 532px) {
    #logo img {
      height: 35px;
      width: 35px;
    }
  }
  
  #menu-toggle {
    pointer-events: initial;
  }
  #menu-toggle i {
    margin-left: 2px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  body.nav-active #navigation {
    pointer-events: initial;
  }
  body.nav-active #navigation .navigation-container {
    transform: translateX(-100%);
  }
  
  #navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  #navigation .navigation-container {
    pointer-events: initial;
    height: 100%;
    width: 420px;
    max-width: 100%;
    background: black;
    overflow: hidden;
    top: 0;
    left: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    transition: transform 0.25s;
  }
  #navigation .navigation-container .top {
    flex-shrink: 0;
    padding: 2rem;
  }
  #navigation .navigation-container .scroller {
    flex-shrink: 1;
    overflow: auto;
    padding: 2rem;
    flex-basis: 100%;
    margin-right: 2rem;
  }
  #navigation .navigation-container .scroller > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #navigation .navigation-container .scroller > ul > li {
    margin-bottom: 1.5rem;
  }
  #navigation .navigation-container .scroller > ul > li > a {
    display: inline-block;
  }
  #navigation .navigation-container .scroller > ul > li.has-submenu > a:after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    display: inline-block;
    content: "\f105";
    margin-left: 1rem;
  }
  #navigation .navigation-container .scroller > ul > li.active > a:after {
    content: "\f106";
  }
  #navigation .navigation-container .scroller > ul > li.active > ul {
    display: block;
  }
  #navigation .navigation-container .scroller > ul > li > ul {
    margin: 0 0 0 1rem;
    list-style: none;
    padding: 1rem 0 0;
    font-size: 14px;
    border-color: transparent;
    display: none;
  }
  #navigation .navigation-container .scroller > ul > li > ul > li {
    margin-bottom: 1rem;
  }
  #navigation .navigation-container .scroller > ul > li > ul > li a {
    color: #C4C4C4;
    line-height: 1.5;
  }
  #navigation .navigation-container .scroller > ul > li > ul > li a:hover {
    color: #FFF;
  }
  @media (max-width: 992px) {
    #navigation .navigation-container .scroller {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  #navigation .navigation-container .bottom {
    flex-shrink: 0;
    padding: 2rem;
  }
  
  .close-menu {
    position: absolute;
    top: 37px;
    right: 36px;
  }
  
  footer {
    margin-bottom: 4em;
  }
  footer nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0em 1em;
  }
  footer nav a {
    transition: color 0.3s ease-in;
  }
  
  .footer-no-border-t footer {
    margin-top: 0;
  }
  .footer-no-border-t footer .footer-border-t {
    display: none;
  }
  
  .signup-input {
    border-bottom: solid 1px #3e3b3c;
    display: flex;
    padding-bottom: 0.5rem;
  }
  .signup-input > input {
    flex: 1;
    font-size: 18px;
  }
  
  @keyframes slideIn {
    from {
      right: -400px;
    }
    to {
      right: 0;
    }
  }
  @keyframes slideOut {
    from {
      right: 0px;
    }
    to {
      right: -400px;
    }
  }
  
  /*# sourceMappingURL=layout.css.map */
  